/*
 * SPDX-License-Identifier: GPL-3.0-only
 * Copyright (C) 2024 Kevin Suñer <ksuner@pm.me>
 */


/* Fonts */

@font-face {
	font-family: "Roboto Slab";
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url("../fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Slab";
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url("../fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Cascadia Code";
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url("../fonts/cascadia-code/CascadiaCode.ttf") format("truetype");
}

/* Fonts */

/* Defaults */

body {
    background-color: hsla(192, 15%, 99%, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
a,
p a,
figcaption {
    font-family: "Roboto Slab";
}

pre,
code {
    font-family: "Cascadia Code" !important;
}

/* Defaults */

/* Pagination */

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Pagination */

