<!--
SPDX-License-Identifier: GPL-3.0-only
Copyright (C) 2024 Kevin Suñer <ksuner@pm.me>
-->

{{ define "notice" }}
<p class="pt-2">
    <a href="https://codeberg.org/kevinsuner/statico-verbum" class="link-secondary">Verbum</a> a theme built by Kevin Suñer for <a href="https://codeberg.org/kevinsuner/statico" class="link-secondary">Statico</a>;
    Licensed under the <a href="https://gnu.org/licenses/gpl-3.0.en.html#license-text" class="link-secondary">GPL-3.0-only</a> license.
</p>
{{ end }}

